<!-- Landing -->
<div class="landing about-1">
	<div ng-include="'app/views/navbar.html'"></div>
	<div class="content">
		<div class="landing-title">About</div>
		<div class="landing-information">We build simple templates that other people could customize. If you need something more than simple, then we are available to start from scratch.</div>
	</div>
</div>
<!-- Picture -->
<div class="about-2">

</div>
<!-- About me -->
<div class="about-3">
	<div class="content">
		<p class="about-title">Thomas Vaeth</p>
		<p class="about-information">Samesies was started in December 2015 as a final project using the MEAN stack for General Assembly Seattle. The project originally launched with only 3 templates, but will continue to grow and improve.</p>
		<div class="col-xs-5 thomas">
			<img src="app/images/me.jpeg" class="resized-picture">
		</div>
		<div class="col-xs-7 thomas">
			<p class="about-information">Thomas Vaeth is the Founder and only employee of Samesies.</p>
		</div>
	</div>
</div>
<!-- Picture -->
<div class="about-4">

</div>
<!-- Contact same on every page -->
<div ng-include="'app/views/contact.html'"></div>