<div id="contact">
	<div class="content">
		<p class="contact-title">We're here to get you started.</p>
		<p class="contact-information">Vestibulum posuere aliquet tellus, ut interdum erat feugiat nec. Integer pellentesque consequat.</p>
		<div class="col-xs-5">
			<i class="fa fa-envelope-o fa-3x"></i><a href="mailto:thomas.vaeth@gmail.com?Subject=Samesies!"><span>help@samesies.io</span></a>
			<br>
			<i class="fa fa-map-marker fa-3x"></i><a href="https://goo.gl/rzW9zC" target="_blank"><span>Seattle, WA</span></a>
		</div>
		<div class="col-xs-7">
			<i class="fa fa-github fa-3x"></i><a href="https://github.com/thomasvaeth" target="_blank"><span>Star our projects</span></a>
			<br>
			<i class="fa fa-linkedin fa-3x"></i><a href="https://www.linkedin.com/in/thomasvaeth" target="_blank"><span>Connect with us</span></a>
			<br>
			<i class="fa fa-twitter fa-3x"></i><a href="https://twitter.com/thomasvaeth" target="_blank"><span>Tweet at us</span></a>
		</div>
	</div>
</div>