<div id="menu" ng-controller="NavController">
	<div id="left">
		<a href="/" class="nav-title"><li>Samesies</li></a>
	</div>
	<div id="right">
		<a href="/templates" class="nav-page"><li>Work</li></a>
		<a href="/about" class="nav-page"><li>About</li></a>
		<a href="#" scroll-to="contact" class="nav-page">Contact</a>
		<a href="/signup" class="nav-page"><li>Sign Up</li></a>
		<a href="/signin" class="nav-page"><li>Sign In</li></a>
		<a href="" class="nav-page" ng-show="isSignedIn()" ng-click="signout()"><li>Sign Out</li></a>
	</div>
</div>