<!-- Landing -->
<div class="home-1">
	<!-- Navigation same on every page -->
	<div ng-include="'app/views/navbar.html'"></div>
	<div>
		<p class="landing-title">Templates</p>
		<p class="landing-information">In venenatis sodales accumsan. Proin egestas.</p>
		<button class="btn btn-lg">Browse Our Templates</button>
	</div>
</div>
<!-- Examples linking to store -->
<div class="home-2">
	<p class="title">Store</p>
</div>
<!-- Quote -->
<div class="home-3">
	<p class="title">"You miss 100% of the shots you don't take. -Wayne Gretzky"</p>
	<p class="information">Michael Scott, Regional Manager, Dunder Mifflin</p>
</div>
<!-- Picture -->
<div class="home-4">

</div>
<!-- Contact same on every page -->
<div ng-include="'app/views/contact.html'"></div>