<!-- Landing -->
<div class="landing home-1">
	<!-- Navigation same on every page -->
	<div ng-include="'app/views/navbar.html'"></div>
	<div class="content">
		<p class="landing-title">Templates</p>
		<p class="landing-information">In venenatis sodales accumsan. Proin egestas.</p>
		<a class="landing-link" href="/templates"><button class="btn btn-lg">Browse Our Templates</button></a>
	</div>
</div>
<!-- Examples linking to store -->
<div class="home-2">
	<div class="content">
		<div class="col-xs-7">
			<p class="featured-title">Featured Template</p>
			<p class="featured-information">Pellentesque in orci maximus, sagittis nisi ut, pellentesque orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere.</p>
			<a href="/templates"><button class="btn btn-lg">Download This Template</button></a>
		</div>
		<div class="col-xs-5">
			<img src="app/images/profile-iphone.png">
		</div>
	</div>
</div>
<!-- Quote -->
<div class="home-3">
	<div class="content">
		<p class="quote-title">"You're paying way too much for worms, man. Who's your worm guy?"</p>
		<p class="quote-information">Creed Bratton, Quality Assurance Director, Dunder Mifflin</p>
		<a href="/about"><button class="btn btn-lg">Find Out Why</button></a>
	</div>
</div>
<!-- Picture -->
<div class="home-4">

</div>
<!-- Contact same on every page -->
<div ng-include="'app/views/contact.html'"></div>