<!-- Landing -->
<div class="landing home-1">
	<!-- Navigation same on every page -->
	<div ng-include="'app/views/navbar.html'"></div>
	<div class="content">
		<p class="landing-title">Templates</p>
		<p class="landing-information">Everybody fugazi, I’m just changing the channel.</p>
		<a class="landing-link" href="/templates#menu"><button class="btn btn-lg landing-btn">Browse Our Templates</button></a>
		<button class="btn btn-lg mobile-btn">Templates Available on Desktop</button>
	</div>
</div>
<!-- Examples linking to store -->
<div class="home-2">
	<div class="content">
		<div class="col-xs-12 col-sm-7">
			<p class="featured-title">Featured Template</p>
			<p class="featured-information">Our templates are built in HTML &amp; CSS with a little JavaScript. We use the Bootstrap framework to make it easy for you to customize.</p>
			<a href="/templates#menu"><button class="btn btn-lg landing-btn">Download This Template</button></a>
		</div>
		<div class="col-xs-12 col-sm-5">
			<img ng-src="{{ templates[0].mobile }}" class="resized-picture">
			<a href="{{ templates[0].preview }}" target="_blank"><button class="btn btn-lg mobile-btn">View This Template</button></a>
		</div>
	</div>
</div>
<!-- Quote -->
<div class="home-3">
	<div class="content">
		<p class="quote-title">"You're paying way too much for worms, man. Who's your worm guy?"</p>
		<p class="quote-information">Creed Bratton, Quality Assurance Director, Dunder Mifflin</p>
		<a href="/about#menu"><button class="btn btn-lg">Find Out Why</button></a>
	</div>
</div>
<!-- Picture -->
<div class="home-4">

</div>
<!-- Contact same on every page -->
<div ng-include="'app/views/contact.html'"></div>