<form ng-submit="signin()">
	<div class="form-group">
		<label for="email">Email</label>
		<input type="email" class="form-control" id="email" placeholder="Email" autocomplete="off" ng-model="customer.email" required>
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" class="form-control" id="password" placeholder="Password" autocomplete="off" ng-model="customer.password" required>
	</div>
	<button type="submit" class="btn btn-primary">Sign In</button>
</form>