<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<p class="user-title">Sign In</p>
				<p class="user-information">Phasellus lectus eros, dignissim nec.</p>
			</div>
		</div>
		<div class="cover-container">
			<form ng-submit="signin()">
				<div class="row">
					<div class="col-xs-6 col-xs-offset-3">
						<div class="form-group">
							<label for="email">Email</label>
							<input type="email" class="form-control input-lg" id="email" placeholder="Email" autocomplete="off" ng-model="customer.email" required>
						</div>		
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-xs-offset-3">
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" class="form-control input-lg" id="password" placeholder="Password" minlength="8" maxlength="99" autocomplete="off" ng-model="customer.password" required>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-xs-offset-3">
						<button type="submit" class="btn btn-lg user-submit">Sign In</button>
					</div>
				</div>
			</form>
			<div class="row">
				<div class="col-xs-6 col-xs-offset-3">
					<button class="btn user-submit" ng-click="previous()">Go Back</button>
				</div>
			</div>
		</div>
	</div>
</div>