<!-- Div for each product? Another div for checkout? -->
<!-- Landing -->
<div class="landing templates-1">
	<div ng-include="'app/views/navbar.html'"></div>
	<div class="content">
		<div class="landing-title">Downloads</div>
		<div class="landing-information">Nam ultricies semper aliquam. Etiam libero orci, commodo et vehicula a, mollis ac mi. Nam non.</div>
	</div>
</div>
<!-- Products -->
<div class="templates-2" ng-repeat="template in templates">
	<div class="content">
		<p class="template-title" id="{{ template._id }}">{{ template.name }} Template</p>
		<img ng-src="{{ template.desktop }}" class="center-block">
		<p class="template-information">Sed fringilla ex id lacus commodo sodales. Curabitur eu pharetra tortor. Suspendisse quam purus, convallis eget eros eu, auctor commodo velit. Pellentesque vitae malesuada nunc. Aliquam maximus nunc.</p>
		<a ng-href="{{ template.freeLink }}" ng-show="isSignedIn()"><button class="btn btn-lg">Download For Free</button></a>
		<a href="#" scroll-to="menu" ng-hide="isSignedIn()"><button class="btn btn-lg">Sign Up to Download</button></a>
	</div>
</div>
<!-- Contact same on every page -->
<div ng-include="'app/views/contact.html'"></div>