html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

.landing-btn,
.thomas,
.about-4 {
	display: none;
}

.landing,
.home-3,
.home-4,
.about-2 {
	height: 500px;
}

.templates-title,
.template-title,
.about-title {
	font-size: 72px;
}

.landing-information,
.featured-title,
.quote-title,
.template-information,
.about-information {
	font-size: 36px;
}

.featured-information,
.quote-information {
	font-size: 27px;
}

.featured-title,
.quote-title,
.templates-title,
.template-title,
.about-title {
	font-weight: 700;
}

.btn,
.btn:focus,
.btn:hover,
.btn:active:focus,
.landing-information {
	font-weight: 400;
}

.featured-information,
.quote-information,
.template-information,
.about-information {
	font-weight: 300;
}

.landing,
.home-3 {
	color: #FFFFFF;
}

.landing .btn,
.landing .btn:focus,
.landing .btn:hover,
.landing .btn:active:focus,
.home-3 .btn,
.home-3 .btn:focus,
.home-3 .btn:hover,
.home-3 .btn:active:focus {
	color: #FFFFFF;
	border: 3px solid #FFFFFF;
}

.home-2 .btn,
.home-2 .btn:focus,
.home-2 .btn:hover,
.home-2 .btn:active:focus,
.templates-2 .btn,
.templates-2 .btn:focus,
.templates-2 .btn:active:focus,
.download,
.download:focus,
.download:active:focus {
	color: #000000;
	border: 3px solid #000000;
}

.featured-information,
.template-information,
.about-title,
.about-information {
	margin-top: 20px;
}

.content {
	padding: 20px 20px 0 20px;
}

p {
	cursor: default;
}

button {
	margin-top: 30px;
}

.btn,
.btn:focus,
.btn:hover,
.btn:active:focus {
	background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  outline: none;
}

/* Home - Landing */
.home-1 {
	background: #DD5E89;
	background: -webkit-linear-gradient(to bottom left, #DD5E89, #F7BB97);
	background: linear-gradient(to bottom left, #DD5E89, #F7BB97);
}

.landing-title {
	font-weight: 900;
	font-size: 54px;
}

.home-1 a,
.home-1 a:link {
	padding: 0;
}

.mobile-btn {
	display: inline-block;
}

/* Home - Store links */
.home-2 {
	height: 1050px;
}

.resized-picture {
	max-width: 90%;
}

/* Home - Quote*/
.home-3 {
	background: #000000;
}

/* Home - Picture */
.home-4 {
	background: url('../images/homepage.jpg') center center no-repeat;
	background-size: cover;
}

/* Templates - Landing */
.templates-1 {
	background: #136A8A;
	background: -webkit-linear-gradient(to bottom left, #136A8A, #267871);
	background: linear-gradient(to bottom left, #136A8A, #267871);
}

/* Templates - Store */
.templates-2 {
	height: 1000px;
}

.templates-title {
	margin-top: 25px;
}

.template-title {
	margin-top: 15px;
}

.download,
.download:focus,
.download:active:focus {
	margin: 0;
}

.download:hover {
	color: #FFFFFF;
	background-color: #000000;
}

.preview {
	margin: 5px 0;
}

/* About - Landing */
.about-1 {
	height: 650px;
	background: #2C3E50;
	background: -webkit-linear-gradient(to bottom left, #2C3E50, #3498BD);
	background: linear-gradient(to bottom left, #2C3E50, #3498BD);
}

/* About - Picture */
.about-2 {
	background: url('../images/about-1.jpg') center center no-repeat;
	background-size: cover;
}

/* About - Profile */
.about-3 {
	height: 800px;
}

@media (min-width: 667px) {
	.landing {
		height: 425px;
	}

	/* Home - Store links */
	.home-2 {
		height: 1425px;
	}

	/* Home - Quote*/
	.home-3 {
		height: 325px;
	}

	/* About - Profile */
	.about-3 {
		height: 500px;
	}
}

@media (min-width: 768px) {
	.thomas,
	.about-4 {
		display: block;
	}

	.landing,
	.about-1 {
		height: 600px;
	}

	.home-4,
	.about-2,
	.about-4 {
		height: 700px;
	}

	.featured-title,
	.quote-title {
		font-size: 72px;
	}

	.featured-information,
	.quote-information {
		font-size: 36px;
		margin-top: 20px;
	}

	.landing,
	.home-2,
	.home-3,
	.home-4 {
		padding-top: 40px;
	}

	.content {
		padding: 20px 50px 0 50px;
	}

	/* Home - Landing */
	.landing-title {
		font-size: 108px;
	}

	.landing-information {
		font-size: 45px;
	}

	.landing-btn {
		display: inline-block;
	}

	.mobile-btn {
		display: none;
	}

	/* Home - Store links */
	.home-2 {
		height: 750px;
	}

	.featured-title {
		margin-top: 75px;
	}

	.resized-picture {
		max-width: 300px;
		float: right;
		margin-right: 50px;
	}

	/* Home - Quote*/
	.home-3 {
		height: 550px;
	}

	.quote-title {
		margin-top: 20px;
	}

	/* About - Profile */
	.about-3 {
		height: 675px;
	}

	/* About - Picture */
	.about-4 {
		background: url('../images/about-2.jpg') center center no-repeat;
		background-size: cover;
	}

	/* ngAnimate */
	.slideup {
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    height: 100%;
	}
	.slideup.ng-enter,
	.slideup.ng-leave {
	    -webkit-transition: all 1s ease;
	    transition: all 1s ease;
	}
	.slideup.ng-enter {
	    top: 100%;
	}
	.slideup.ng-enter-active {
	    top: 0;
	}
	.slideup.ng-leave {
	    top: 0;
	}
	.slideup.ng-leave-active {
	    top: -100%;
	}
}