@import url(https://fonts.googleapis.com/css?family=Londrina+Outline);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

.landing {
	height: 600px;
	color: #FFFFFF;
	padding-top: 40px;
}

.home-2,
.home-3,
.home-4 {
	padding-top: 40px;
}

.content {
	padding-left: 50px;
}

/* Home - Landing */
.home-1 {
	background: #DD5E89;
	background: -webkit-linear-gradient(to bottom left, #DD5E89, #F7BB97);
	background: linear-gradient(to bottom left, #DD5E89, #F7BB97);
}

.landing-title {
	font-weight: 900;
	font-size: 108px;
}

.landing-information {
	font-weight: 400;
	font-size: 45px;
}

.btn,
.btn:focus,
.btn:hover,
.btn:active:focus {
	font-weight: 400;
	background-color: rgba(0, 0, 0, 0);
	border: 3px solid #FFFFFF;
  color: #FFFFFF;
  box-shadow: none;
  outline: none;
}

/* Home - Store links */
.home-2 {
	height: 550px;
	border: 1px solid #FFFFFF;
	background: #FFFFFF;
	color: #000000;
}

/* Home - Quote*/
.home-3 {
	height: 550px;
	border: 1px solid #000000;
	background: #000000;
	color: #FFFFFF;
}

/* Home - Picture*/
.home-4 {
	height: 700px;
	border: 1px solid #000000;
	background: #FFFFFF;
	background: url('../images/homepage.jpg') center center no-repeat;
	background-size: cover;
}

/* Templates - Landing */
.templates-1 {
	background: #267871;
}

/* About - Landing */
.about-1 {
	background: #3498BD;
}