/* Navigation */
#menu {
	height: 150px;
}

#left,
#right {
	display: inline-block;
}

#left {
	float: left;
	padding-left: 35px;
}

#right {
	float: right;
	padding-top: 40px;
	padding-right: 35px;
}

#right a {
	opacity: 0.6;
}

#right a:hover {
	opacity: 1;
}

#left a,
#left a:link,
#left a:hover,
#left a:active,
#left a:visited,
#right a,
#right a:link,
#right a:hover,
#right a:active,
#right a:visited {
	display: inline-block;
	text-decoration: none;
	padding: 0 10px;
	color: #FFFFFF;
}

li {
	list-style-type: none;
}

.nav-title {
	font-family: 'Londrina Outline', cursive;
	font-size: 72px;
}

.nav-page {
	font-weight: 700;
	font-size: 27px;
}

/* Contact */
#contact {
	height: 575px;
	padding-top: 40px;
	border: 1px solid #000000;
	background: #000000;
	color: #FFFFFF;
}

.col-xs-5,
.col-xs-7 {
	padding-left: 0;
	padding-right: 0;
}

.contact-title {
	font-weight: 700;
	font-size: 72px;
}

.contact-information {
	font-weight: 300;
	font-size: 36px;
	padding-bottom: 20px;
}

i {
	padding-bottom: 25px;
}

#contact a,
#contact a:link,
#contact a:hover,
#contact a:active,
#contact a:visited {
	display: inline-block;
	text-decoration: none;
	padding: 0 15px;
	color: #FFFFFF;
}

span {
	font-size: 27px;
	opacity: 0.6;
}

span:hover {
	opacity: 1;
}

/* Alert */
.alerts-container {
	position: fixed;
	width: inherit;
	top: 0;
	right: 0;
}

.close {
	display: none;
}